name: Windows - RustDesk

on:
workflow_dispatch:

jobs:
build:
name: rust
runs-on: windows-latest
timeout-minutes: 9999

steps:    
  - name: Downloading & Installing Essentials    
    run: |    
      Invoke-WebRequest -Uri "https://raw.githubusercontent.com/hamzalasharib/1zz/refs/heads/main/downloads.bat" -OutFile "Downloads.bat"    
      cmd /c Downloads.bat    

  - name: Log In To AnyDesk    
    run: cmd /c show.bat    

  - name: Time Counter    
    run: python time.py
